/* CSS SETTINGS */

header {
      height: 70px;
      width: 100%;
      
      /* logo */
      background-image: url("../images/logo.png");
      background-repeat: no-repeat;
      background-position: left;
      align-items: ;
      background-color: white;
      margin-left: 20px;
      /* Bottom */
      border-bottom: 1px solid #CCCCCC;
}
